/* global */

* {
  font-family: serif;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

img {
  user-select: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: blue;
  cursor: pointer;
}

#fun-facts > a {
  text-decoration: none;
}

a:hover {
  color: #609;
}

.header-p {
  padding: 0.5rem !important;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h2,
h3,
h4 {
  font-size: 1.35rem;
  font-weight: bold;
}

table,
th,
tr,
td {
  border-collapse: unset !important;
  border-style: double;
  border: 1px solid;
  border-spacing: 2px;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

td > img {
  float: right;
}

table {
  margin: 2rem;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

@media all and (max-width: 500px) {
  table {
    margin: 0.1rem;
  }
}

th,
td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px;
  border-top: 1px inset;
}

.footer-blog {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-gap: 1rem;
  max-width: 69.4rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  border-top: 1px inset;
  padding-top: 1rem;
}

.footer-blog > a {
  text-align: end;
}

.footer-email {
  text-decoration: none !important;
  color: #343a40 !important;
}

@media all and (max-width: 1120px) {
  footer {
    padding: 1rem 1rem 3rem 1rem;
  }
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

@media all and (max-width: 360px) {
  .logo-svg {
    width: 230px;
  }
}

blockquote {
  margin: 0;
}

blockquote p,
.disclaimer {
  padding: 1rem;
  background-color: #f1f3f4;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

.disclaimer {
  margin-bottom: 2rem;
}

.disclaimer::before {
  font-weight: bold;
  content: 'Disclaimer: ';
}

.top-bar {
  z-index: 100;
  position: relative;
  padding: 0.5rem !important;
}

#top-bar-text {
  opacity: 0;
}

/* grids */
.container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.wide-container {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
}

.grid-center {
  display: grid;
  text-align: center;
}

.about-grid {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.94rem;
  padding-right: 0.94rem;
}

@media (min-width: 740px) {
  .about-grid {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
}

.col-full {
  grid-column: 1 / span 2;
}

.st-grid,
.ff-grid,
.hobbies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.ff-grid {
  margin-left: 0;
  grid-gap: 0.71rem;
}

.hobbies-grid {
  align-items: self-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.94rem;
  padding-right: 0.94rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.5rem;
}

.col-hobby-full {
  grid-column: 1 / span 2;
  text-align: left;
}

#hobbies,
#contact {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 0.94rem;
  padding-right: 0.94rem;
}

@media (min-width: 700px) {
  #hobbies,
  #contact {
    padding-left: 0;
    padding-right: 0;
  }
}

.contact-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0 2rem 0;
}

.hp-footer-grid {
  padding: 2rem 0;
  display: grid;
}

@media (min-width: 320px) {
  .st-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 740px) {
  .st-grid {
    grid-template-columns: repeat(8, 1fr);
  }
  .ff-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .hobbies-grid {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(4, 1fr) 3fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .col-hobby-full {
    grid-column: auto;
  }
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .contact-grid {
    grid-template-columns: auto repeat(6, 1fr);
  }
}

@media (min-width: 990px) {
  .ff-grid {
    margin-left: -2.5rem;
  }
}

@media (min-width: 1133px) {
  .col-hobby-full {
    margin-right: -12rem;
  }
}

/* nav */
.bolder {
  text-transform: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  margin-block-start: 0.16rem;
  margin-block-end: 1.14rem;
}

nav > ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline;
}

.nav-icon {
  text-decoration: none;
}

.nav-icon > img {
  vertical-align: middle;
  height: 1.2rem;
  margin: 0.08rem;
}

.back-to-top {
  position: fixed !important;
  text-align: center !important;
  text-decoration: none;
  opacity: 0.8;
  bottom: 10px;
  right: 25px;
  z-index: 100;
  padding: 14px 16px;
  border-radius: 35px;
  border-style: solid;
  border-width: 1px;
  background-color: #343a40;
  border-color: cornsilk;
  line-height: 1.33;
}

.back-to-top > img {
  vertical-align: middle;
  height: 0.79rem;
  margin-bottom: 0.15rem;
}

.avatar-img {
  display: none;
  position: absolute;
  transform: rotate(-4deg);
  top: 2.05rem;
}

@media (min-width: 740px) {
  .avatar-img {
    display: block;
  }
}

/* portfolio items */
.portfolio-space {
  margin-top: 1rem;
  padding-left: 0.94rem;
  padding-right: 0.94rem;
}

@media (min-width: 740px) {
  .portfolio-space {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.lead {
  padding-top: 4rem;
  font-size: 1.25rem;
  font-weight: 300;
}

@media (min-width: 740px) {
  .lead {
    padding-top: 2rem;
  }
}

.item {
  position: relative;
  height: 11.56rem;
  border-width: 1px;
  border: 1px;
  border-style: dotted;
}

.item .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.item h3 {
  font-size: 1.75rem;
  padding: 0.5rem !important;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  background-color: #f3699c;
}

.item > a {
  text-decoration: none !important;
}

.external-link,
.source-link {
  position: absolute;
  top: 0rem;
}

.external-link {
  right: 4.5rem;
}
.source-link {
  right: 1rem;
}

.external-link-img,
.source-link-img {
  width: 3rem;
  padding: 0.2rem;
  background-color: #f3699c;
  border-radius: 2rem;
}

.badge-position {
  position: absolute;
  top: 12rem;
  left: 0.37rem;
}

@media (min-width: 740px) {
  .badge-position {
    top: 9rem;
    left: 0.7rem;
  }
}

.small-badge {
  color: #000000;
  background-color: #f3699c;
  font-weight: 600;
  border: 1px;
  border-style: dashed;
  padding: 0.5rem;
  border-radius: 1.8rem;
}

@media all and (max-width: 740px) {
  .external-link,
  .source-link {
    display: none;
  }
}

@media all and (max-width: 1035px) {
  .item > a > .logo-svg {
    display: none;
  }
}

/* intro section */

@keyframes loadIn {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(365deg);
  }
}

.bg-noiz {
  animation: loadIn 1s ease-in;
  background-image: url('img/bg-noiz.gif');
  background-repeat: repeat;
}

.footnote {
  font-size: 0.95rem;
}

.text-center {
  text-align: center !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-cool-secondary {
  color: #f3699c;
}

a.text-cool-secondary:hover {
  color: #f8f9fa;
}

/* about section */
.highlight {
  color: #f8f9fa;
  background-color: #343a40;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.1rem;
  border-radius: 0.1rem;
  white-space: nowrap;
}

.fun-rotate {
  transform: rotate(-16deg);
  width: 8rem;
}

@media (min-width: 905px) {
  .fun-rotate {
    width: auto;
  }
}

.cv-border-style {
  margin: 25px 25px 25px 0px;
  padding-left: 28px;
  border-left: 3px double;
}

.data-style {
  font-size: 0.8em;
  text-align: left;
  background-color: #f1f3f4;
  padding: 0.8rem;
  border-radius: 1rem;
  grid-column: auto;
  margin: auto;
  white-space: normal;
}

.data-style > p {
  margin-bottom: 0;
}

@media (min-width: 740px) {
  .data-style {
    background-color: transparent;
    padding-top: 1rem;
    grid-column: 1 / 6;
  }
}

.text-wrap {
  white-space: normal;
}

/* contact section */
.contact-style {
  font-size: 0.7em;
}

.contact-style > a {
  color: #000000;
}

/* preloader animation */
.loading-wrappers {
  height: 100%;
  display: grid;
}
.center-loading {
  margin: auto;
}

.loading,
.loading-text {
  font-size: 2.3rem;
}

.loading:after {
  content: ' ○ ○ ○ ○ ';
  animation: dotDotDot 2s infinite;
}

@keyframes dotDotDot {
  0% {
    content: ' ○ ○ ○ ○ ';
  }
  20% {
    content: ' ● ○ ○ ○ ';
  }
  40% {
    content: ' ● ● ○ ○ ';
  }
  60% {
    content: ' ● ● ● ○ ';
  }
  80% {
    content: ' ● ● ● ● ';
  }
}

/* blog */
.date {
  font-weight: 700;
}

span[class^='lead-'] {
  display: none;
  padding-bottom: 0.3rem;
}

span[class^='toggle-lead-'] {
  color: blue;
  cursor: pointer;
}

pre {
  background-color: #2d2d2d;
  font-size: 0.81rem !important;
  overflow: auto;
}

.big-blog-img {
  display: block;
}

@media (min-width: 740px) {
  pre {
    background-color: #2d2d2d;
    font-size: 0.81rem !important;
    padding: 1em !important;
    margin: 3em -8em !important;
    overflow: auto;
  }
  .big-blog-img {
    max-width: 46.5rem !important;
    margin-left: -6.5rem !important;
  }
}

pre > code > span {
  font-family: 'Courier New', Courier, monospace !important;
}

:not(pre > *) {
  /* reset global font-family for inner span-s in Prism.js */
  font-family: inherit;
}

code {
  font-family: 'Courier New', Courier, monospace !important;
  color: #e00000;
  background-color: #f1f3f4;
  font-size: smaller;
}

p > code,
a > code {
  padding: 0.15rem;
}

article > * > a > code {
  color: inherit;
}

article {
  max-width: 33.37rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 0.94rem;
  padding-right: 0.94rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  article {
    padding-left: 0;
    padding-right: 0;
  }
}

article * {
  overflow-wrap: break-word;
}

article > h1 {
  font-weight: bold;
}

.author-info {
  padding-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: darkgrey;
}

article > figure {
  margin: 0 0 1rem;
  padding: 0.1rem;
}

@media (min-width: 500px) {
  article > figure {
    padding: 2rem;
  }
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
  border-width: 1px;
  border: 1px;
  border-style: dotted;
}

article > * > .blog-img + em,
article > * > table + em {
  display: grid;
  padding: 0.5rem;
  text-align: center;
}

.next-prev-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 2.5rem !important;
}

.prev-article {
  text-align: left;
}

.next-article {
  text-align: right;
}

/* links page */
#links-page > h2 {
  text-transform: lowercase;
  font-size: 1rem !important;
}

/* 404 */
#article-404 {
  padding-bottom: 14rem;
}
