@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* global */
.branded-name,
.branded-pre,
.fliph {
  font-family: 'Staatliches', sans-serif;
  font-size: 3rem;
  transform: scale(1, 2);
  white-space: nowrap;
}

.branded-pre {
  color: #f8f9fa;
  font-size: 2.5rem;
}

.fliph {
  display: inline-block;
  vertical-align: top;
  transform: scaleX(-1);
  filter: fliph;
}

.vertical-align {
  padding-top: 3rem;
}

@media all and (max-width: 992px) {
  .vertical-align {
    padding-top: 0rem;
  }
}

.bolder {
  font-size: unset;
  font-weight: bold;
  display: block;
  margin-block-start: 0.66rem;
  margin-block-end: 1.16rem;
}

* {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

a {
  color: #4a779d;
}

.back-to-top-style {
  opacity: 0.5;
  bottom: 10px;
  right: 25px;
  z-index: 100;
  padding: 14px 16px;
  border-radius: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  line-height: 1.33;
}

/* portfolio items */
.lift-up-elem {
  z-index: 1;
}

.carousel-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel {
  min-height: 33rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (min-width: 1540px) {
  .carousel {
    min-height: 43rem;
  }
}

.carousel .item {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item h3 {
  position: relative;
  z-index: 200;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  cursor: pointer;
  z-index: 2;
  opacity: 0.9;
  filter: blur(0.2rem) grayscale(1);
  transform: translate(-125%, -50%) scale(0.6);
}

.item.next {
  cursor: pointer;
  z-index: 2;
  opacity: 0.9;
  filter: blur(0.2rem) grayscale(1);
  transform: translate(25%, -50%) scale(0.6);
}

.next > a,
.prev > a {
  pointer-events: none;
  cursor: default;
}

@media all and (max-width: 1023px) {
  .carousel .item {
    position: relative;
    left: 0%;
    transform: translate(0%, 0%);
    opacity: 1;
  }
  .item-img {
    padding-top: 1rem;
  }
  .carousel {
    left: 0%;
    transform: translate(0%, 0%);
  }
  .item.active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .item.prev,
  .item.next {
    cursor: default;
    opacity: 1;
    filter: blur(0rem) grayscale(0);
    transform: translate(0%, 0%) scale(1);
  }
  .next > a,
  .prev > a {
    pointer-events: auto;
    cursor: pointer;
  }
}

.external-link {
  z-index: 200;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
}

.source-link {
  z-index: 200;
  position: absolute;
  right: 4.5rem;
  bottom: 1rem;
  width: 3rem;
}

@media all and (max-width: 1023px) {
  .external-link,
  .source-link {
    position: unset;
    margin: 0.3rem;
  }
}

.refresh-link {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
}

/* intro section */

.background-style {
  background-image: linear-gradient(0deg, rgb(52, 58, 64) 0%, rgba(52, 58, 64, 0) 100%), url(img/danube-bend-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bg-tertiary {
  background-color: #a2a2a2;
}

.bg-cool {
  background-color: #9fe0c6;
}

.text-cool {
  color: #1b4b67;
}

.bg-cool-secondary {
  background-color: #ffb292;
}

.text-cool-secondary {
  color: #f39369;
}

.avatar-style-top {
  width: 200px;
  position: absolute;
  top: -4rem;
  left: 50%;
  margin-left: -100px;
}

@media all and (max-width: 1200px) {
  .btn-w {
    min-width: 11rem;
  }
}

/* about section */
.fun-border {
  color: #343a40;
  border-color: #343a40;
  pointer-events: none;
  cursor: default;
  padding: 1.5rem;
  margin-left: 1.5rem;
  display: inline-block;
  line-height: 1.5;
  border: 1px solid;
  border-radius: 0.25rem;
}

.fun-text {
  cursor: default;
}

.cv-border-style {
  margin: 25px 25px 25px 0px;
  padding-left: 28px;
  border-left: 25px solid #9fe0c6;
}

@media all and (min-width: 321px) and (max-width: 375px) {
  .fun-text {
    font-size: 0.7em;
  }
}

@media all and (max-width: 320px) {
  .fun-text {
    font-size: 0.5em;
  }
}

.days-style {
  font-size: 0.3em;
}

.data-style {
  font-size: 0.8em;
}

.vertical-bar {
  border-width: thin;
  border-left: 1px solid #6c757d;
}

@media all and (max-width: 1200px) {
  .vertical-bar {
    border-left: none;
  }
  .fun-border {
    border: 0px solid;
  }
}

@media all and (max-width: 990px) {
  .fun-border {
    margin-left: 0rem;
    padding: 0rem;
  }
}

.number-big {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.43;
  margin-block-start: -0.3rem;
  margin-block-end: 0.27rem;
  display: block;
}

@media all and (max-width: 370px) {
  .number-big {
    font-size: 1.95rem;
  }
}

/* contact section */
.contact-style {
  font-size: 0.7em;
}

.contact-style > a {
  color: #000000;
}

/* misc. */
.quote-marker-style {
  position: absolute;
  top: -145px;
  left: -45px;
  font-size: 15em;
  color: #ffc107;
  opacity: 0.3;
}

.invert-icon {
  filter: invert(100%);
}

.invert-img > div > img {
  filter: invert(100%);
}

/* preloader animation */
.loading-wrappers {
  height: 100%;
  display: grid;
}
.center-loading {
  margin: auto;
}
