<main class="bg-light">
  <article class="grid-center" id="article-404">
    <h1>404</h1>
    <h2>page not found :(</h2>
    <p>go back to homepage: <a class="text-cool-secondary" href="/">theDavidBarton.github.io</a></p>
  </article>
</main>